@using OrchardCore.ContentManagement
@using OrchardCore.ContentManagement.Metadata
@using OrchardCore.Mvc.Utilities
@inject IContentDefinitionManager ContentDefinitionManager

@if (Model.Header != null)
{
    <div class="card bg-light mb-3">
        <div class="card-body">
            @await DisplayAsync(Model.Header)
        </div>
    </div>
}

@if (Model.Navigation != null)
{
    @await DisplayAsync(Model.Navigation)
}

@if (Model.Body != null)
{
    <div class="card bg-light mb-3">
        <div class="card-body">
            @{
                RenderTitleSegments(T["Manage {0} Content", Model.ContentType.DisplayName]);
            }
            <h3 class="card-title mb-3">@T["Manage {0} Content", Model.ContentType.DisplayName]</h3>
            <form asp-action="List" asp-controller="Profile" asp-route-profileId="@Model.ProfileContentItem.ContentItemId" asp-route-contentTypeId="@Model.ContentType.Name" method="post" id="items-form" autocomplete="off">
                @await DisplayAsync(Model.Body)
            </form>

        </div>
    </div>
}
