@{
    var title = T["Manage Content"];

    if (Model.ContentType != null)
    {
        title = T["Manage {0} Content", Model.ContentType.DisplayName];
    }
    Title.AddSegment(title);
}

<form asp-action="List" asp-controller="Profile" asp-route-profileId="@Model.ProfileContentItem.ContentItemId" asp-route-contentTypeId="@Model.ContentType?.Name" method="post" id="items-form" autocomplete="off">
    @await DisplayAsync(Model)
</form>
